*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.header h1, .article h2, p, .footer{
    padding: 20px;
}

.header h1{
    background-color: #D8E2DC;
}

.nav ul{
    padding: 10px;
    background-color: #FFE5D9;
}

.article h2, p{
    background-color: #FFCAD4;
}

.article h2, .footer{
    text-align: center;
}

.footer{
    background-color: #F4ACB7;
}

.nav ul li{
    display: inline;
    list-style-type: none;
}

.nav ul li a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
}